<!DOCTYPE html>
<html>
  <header>
    <h2><%= @shelter.name %></h2>
		<p>Number of Pets in this Shelter: <%= @shelter.pets.count_of_pets %>
		<p>Number of Applications in this Shelter: <%= @shelter.pets.amount_of_apps %>
		<p>Average Shelter Review Rating: <%= @shelter.reviews.average(:rating) %>
  </header>
  
  <div id="sheltersAddress">
    <p><%= @shelter.address %></p>
    <p><%= @shelter.city %>
       <%= @shelter.state %>
       <%= @shelter.zip %></p>
    <p><%= link_to 'Edit', "/shelters/#{@shelter.id}/edit" %> |
       <%= link_to 'Delete', "/shelters/#{@shelter.id}", method: :delete %></p>

    <p><%= button_to 'Shelters Pets', "/shelters/#{@shelter.id}/pets", method: :show %></p>
  </div>

  <h3>Reviews</h3>
  <p><%= button_to 'Add Review', "/shelters/#{@shelter.id}/reviews/new", method: :get %></p>
    <% @shelter.reviews.each do |review| %>
      <p><%= review.title%></p>
      <p><%= review.rating%></p>
      <p><%= review.content%></p>
      <%= image_tag(review.optional_picture) %>
      <%= link_to 'Edit This Review', "/shelters/#{@shelter.id}/reviews/#{review.id}/edit"%>
      <%= link_to 'Delete This Review', "/shelters/#{@shelter.id}/reviews/#{review.id}", method: :delete%>
    <%end%>







</html>
