<h2>List of Favorited Animals</h2>
<% if @favorites.count > 0 %>

<main>
  <%= button_to 'Apply for Pets', '/applications/new', method: :get %>
  <%= button_to 'Remove All Pets', '/favorites', method: :delete %>
  <% @favorites.each do |fav| %>
   <section id="pet-<%= fav.id %>">
      <%= button_to  'Unfavorite Pet', "/favorites/#{fav.id}", method: :delete %>
      <h3><%= link_to "#{fav.name}", "/pets/#{fav.id}" %></h3>
      <img src= <%= fav.image %> width="200" height="162">
    </section>
  <% end %>
</main>

<% else %>

<h2>You do not have any favorites. Please go to a shelter and add pets to your favorites.</h2>

<% end %>

<h2>List of Pets with Applications</h2>

<article>
  <% @pets.each do |pet| %>
  <section id="app-<%= pet.id %>">
    <h3><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h3>
  </section>
  <% end %>
</article>