		
        
        <h1><%= @application.name %></h1>
		<%= @application.address %>
		<%= @application.city %>
		<%= @application.state %>
		<%= @application.zip %>
		<%= @application.phone_number %>
		<%= @application.why_would_you_make_a_good_pet_owner %>