		
        
        <h1><%= @application.name %></h1>
		<p> Address: <%= @application.address %> </p>
		<p> City: <%= @application.city %> </p>
		<p> State: <%= @application.state %> </p>
		<p> Zip: <%= @application.zip %> </p>
		<p> Phone Number: <%= @application.phone_number %>
		<p> Why: <%= @application.why_would_you_make_a_good_pet_owner %> <br> </p>

		<% @application.pets.each do |pet|%>
			<p>Pets Name: <%= pet.name%> </p>
			  <%= button_to 'Approve', "/pets/approval/#{pet.id}", method: :patch %>
		<%end%>
		