<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header id="banner">
      <h1 class='banner-title'>Adopt Don't Shop</h1>
      <nav>
        <button class='nav-btn'><%= link_to 'Pets', '/pets' %></button>
        <button class='nav-btn'><%= link_to 'Shelters', "/shelters" %></button>
        <button class='nav-btn'><%= link_to 'Favorites', "/favorites" %></button>
      </nav>
    </header>
    <img class='background-img' src='https://pethavenmn.org/wp-content/uploads/2017/08/5a898cc6f6567557b5376222cfa764d593fd7cbb.jpg' alt='Collection of dogs' />
    <% flash.each do |type, message| %>
			<section class=<%= type %>>
	      <p><%= message %></p>
			</section>
    <% end %>

    <%= yield %>
  </body>
</html>
