<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header id="banner">
    <h1>Adopt Don't Shop</h1>
  </header>
  <nav>
    <ul>
      <li><%= link_to 'Pets', '/pets' %></li>
      <li><%= link_to 'Shelters', "/shelters" %></li>
    </ul>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
